<div>
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit(); $event.stopPropagation();">
    <mat-card>
      <mat-card-header>
        <mat-card-title [innerHtml]="title"></mat-card-title>
        <mat-card-subtitle *ngIf="subtitle" [innerHtml]="subtitle"></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-template [ngIf]="fields">
          <div *ngFor="let controls of fields" class="row">
            <div *ngFor="let control of controls" class="col">
              <mat-form-field [appearance]="config.appearance || 'outline'" class="full-width">
                <mat-label>{{control.label}}</mat-label>
                <input [formControlName]="control.name" [type]="control.type || 'text'" [autocomplete]="control.name"
                  matInput>
                <mat-icon matSuffix *ngIf="control.icon" color="primary">{{control.icon}}</mat-icon>
                <mat-error *ngFor="let error of form.controls[control.name]?.errors | keyvalue">
                  <span [innerHTML]="control.validators[error.key].message"></span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-template>
        <mat-error *ngFor="let error of form?.errors | keyvalue">
          <span [innerHTML]="config.validators[error.key].message"></span>
        </mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" cdkFocusInitial>Ok</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>