.loading-container {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 5000;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
