<!-- <form class="container" [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{editMode ? 'Update' : 'Create'}} User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" formControlName="username" autocomplete="username" appTrim>
            <mat-error *ngIf="userForm.controls['username'].hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Email" formControlName="email" appTrim>
            <mat-error *ngIf="userForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password" autocomplete="new-password"
              type="password">
            <mat-error *ngIf="userForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="accent" type="button" (click)="goBack()">Go back</button>
    </mat-card-actions>
  </mat-card>
</form> -->
<app-form (submit)="onSubmit($event)" (cancel)="goBack()" [config]="config" [title]="editMode ? 'Update' : 'Create'">
</app-form>