@import './style/variables.scss';
@import './style/form-container-center.scss';
@import './style/commons.scss';
@include mat-core();

@include angular-material-theme($app-theme);

$primary: map-get($app-theme, primary);
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: mat-color($primary);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
